CY_DEBUG=true
CY_ENVIRONMENT=development
# Woo secret, but only for Vagrant so who cares amirite
CY_SECRET_KEY=GaA1HEh4r92+NFBbMx/023zJwuRIwjSd
CY_DB_NAME=realtime
CY_DB_USER=realtime
CY_DB_PASSWORD=realtime
CY_DB_HOST=db
CY_MEDIA_ROOT=../media
CY_LOGFILE_PATH=../backend.log
CY_LOGFILE_LEVEL=DEBUG

# Prefix when running under a subpath behind a reverse proxy
CY_FORCE_SCRIPT_NAME=

CY_PHABRICATOR_URL=https://phabricator.codeyellow.nl
CY_PHABRICATOR_CLIENT_ID=
CY_PHABRICATOR_CLIENT_SECRET=
CY_REDIRECT_URI=http://127.0.0.1:1337/

.env_PHABRICATOR_URL=https://phabricator.codeyellow.nl
CY_FRONTEND_PHABRICATOR_CLIENT_ID=
